
html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "Avenir Next","Helvetica Neue",Helvetica,Arial,sans-serif;
  background: #000;
}

#viewDiv {
  height: 100%;
  width: 100%;
}

#sideMenu, #elevationProfileContainer {
  min-width: 400px;
}

.aligned {
  padding: 12px 15px;
}

